body{
    background: linear-gradient(90deg, rgb(2, 52, 48), rgba(2, 52, 48, 0.323)) ;
    margin: 0;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#intro {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}   
.pan1{
    border-radius: 6px;
    width: 400px;
    height: 200px;
    animation: fade-in 3s ease-in-out;
}
.pp{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    padding: 4px;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
#nav-bar{
    border-bottom: 1px solid rgba(255, 255, 255, 0.129);
    background-color: rgb(44, 49, 49);
    margin: 0;
    text-align: center;
    letter-spacing: 1px;
    position: fixed;
    width: 100%;
}
#nav-bar ul li{
    display: inline-block;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    position: relative;
    }
.brief{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: 50px;
    padding: 30px;
    animation: fadein 2s ease-in-out;
     }
#nav-bar li{
    position: fixed;
}
#nav-bar ul li:hover{
    background: rgba(0, 0, 0, 0.314);
    cursor: pointer;
    color: lime;
}
ul{
    padding: 0;
    margin: 0;
}
#side-bar{
    display: none;
}
@keyframes fade-left {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
@keyframes fadein{
    0% {opacity: 0;
        
    }
    100% {opacity: 1;
       
    }
}
